<footer style="position: relative; width: 100%; bottom: 0;">
    <div id="footer-language-social-media">
        <div id="footer-language">
            English(UK) ₹ INR
        </div>
        <div id="footer-social-media">
            <a href="#">
                <img src="/Logos/facebook.svg" alt="">
            </a>
            <a href="#">
                <img src="/Logos/twitter.svg" alt="">
            </a>
            <a href="#">
                <img src="/Logos/instagram.svg" alt="">
            </a>
        </div>
    </div>
    <div id="footer-info">
        &copy; 2024 Wanderlust, Inc
    </div>
    <div id="footer-links">
        <li><a class="link-body-emphasis link-offset-2 link-opacity-75-hover" href="#">Privacy</a></li>
        <li><a class="link-body-emphasis link-offset-2 link-opacity-75-hover" href="#">Terms</a></li>
        <li><a class="link-body-emphasis link-offset-2 link-opacity-75-hover" href="#">Sitemap</a></li>
        <li><a class="link-body-emphasis link-offset-2 link-opacity-75-hover" href="#">Company Details</a></li>
    </div>
</footer>