<% layout('Layouts/boilerplate.ejs') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
            margin-top: 20rem;
        }
    </style>
</head>
<body>
    <div style="margin-inline: auto;" class="alert alert-danger col-11" role="alert">
        <h1 style="text-align: center;"><%=message%></h1>
    </div>
</body>
</html>